apps_dirs:
  - "."
  - "_build/default/lib/*"
  - "_build/test/lib/*"
  - "deps/*"

include_dirs:
  - "include"
  - "_build/default/plugins/gpb/include"
  - "_build/default/lib/*/include"
  - "_build/test/lib/*/include"

otp_path: "/usr/lib/erlang"

macros:
  - name: "CP2"
  - name: "TEST"

diagnostics:
  enabled:
    - "bound_var_in_pattern"
    - "crossref"
    - "dialyzer"
    - "elvis"
    - "compiler"
  disabled: [ ]

formatting:
  enabled: true

runtime:
  cookie: "beamline_router_cookie"
  node_name: "erlang_ls@localhost"
